<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/mainTemplate.xhtml">
	<ui:define name="content">
		<div style="width: 50%; margin: 0 auto;">

			<h:form>
				<h:panelGroup>


					<p:panel id="basic" header="Twitter Register Account"
						style="margin-bottom:20px; text-align:left"
						styleClass="panelGridCenter">
						<p:messages autoUpdate="true" />
						<h:outputLabel value="#{registerBean.message}" style="color: red;" />
						<p:panelGrid columns="3" layout="grid">
							<p:outputLabel value="Username" for="username" />
							<p:inputText id="username" value="#{registerBean.username}"
								maxlength="10" required="true"
								validatorMessage="Username must be less than 10 and more than 4 characters long.">
								<f:validateLength minimum="4" />
							</p:inputText>
							<p:message for="username" />
							<p:outputLabel value="Password" for="password" />
							<p:password id="password" value="#{registerBean.password}"
								maxlength="10" required="true">
								<f:validateLength minimum="6" />
							</p:password>
							<p:message for="password" />
							<p:outputLabel value="First Name" for="firstName" />
							<p:inputText id="firstName" value="#{registerBean.firstName}"
								required="true" />
							<p:message for="firstName" />
							<p:outputLabel value="Last Name" for="lastName" />
							<p:inputText id="lastName" value="#{registerBean.lastName}" />
							<p:message for="lastName" />
							<p:outputLabel value="Email Address" for="email" />
							<p:inputText id="email" value="#{registerBean.email}"
								required="true"
								validatorMessage="Please provide proper email address.">
								<f:validateRegex
									pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" />
							</p:inputText>
							<p:message for="email" />
						</p:panelGrid>
						<br />
						<p:commandButton value="Register"
							action="#{registerBean.registerUser()}" />

					</p:panel>
				</h:panelGroup>
			</h:form>
		</div>
	</ui:define>
</ui:composition>



</html>