<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:form>
	<p:dataList value="#{tweetBean.tweets}" var="twt" style="width:70%;"
		type="definition">
		<f:facet name="header">
           Tweets
        </f:facet>
		<hr style="height: 1px; background-color: #aaaaaa;" />
		<p
			style="font-name: verdana; color: #000000; padding: 0; margin-left: 20px;">
			#{twt.user.firstName}&nbsp; #{twt.user.lastName}&nbsp; 
			<h:commandLink action="#{profile.userProfile(twt.user.userName)}"
				value="@#{twt.user.userName}" />
			&nbsp; <i style="font-size: 0.8em;">at #{twt.timeCretaed}</i>
		</p>
		<p style="margin-left: 20px; padding: 0;">#{twt.tweet}</p>
	</p:dataList>
</h:form>
</html>